<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- <p id="a">

    </p>
    <p id="b">

    </p>
    <p id="c">

    </p>
    <p class="d">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate, reiciendis.
    </p>
    <h1>hey</h1>
    <p class="d"></p>
    <h1>hello</h1>
    <h1>hai</h1> -->
    <p id="q">hello there</p>
    <p id="r">hi there</p>
    <script>
        // document.getElementById('a').innerHTML = 'hello'
        // document.getElementById('b').innerHTML = 'name'
        // document.getElementById('c').innerHTML = 'age'
        // document.getElementsByTagName('h1').style.color = 'blue'
        // document.getElementById('c').style.color = 'blue'
        document.getElementById("q").style.color = "blue"
        document.getElementById("r").style.color = "red"
        document.getElementById("q").style.fontFamily="arial"
        document.getElementById("r").style.fontSize="larger"

    </script>
</body>

</html>