<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <script>
        a="nidha"
        for(i in a){
            // document.write(a[i])
            console.log(a[i])
        }
            </script> -->


            <!-- <script>
                student={ fname:"nidha", lname:"thamanna", age:26}
                for(i in student){
                    document.write(i + "  is  " + student[i], "<br>")
                }
            </script> -->



            <!-- <script>
                fruits=["apple","banana","orange","strawberry","grapes"]
                for(i of fruits){
                    console.log(i)
                }
            </script> -->

            
</body>
</html>