<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label for="">enter password</label>
    <input type="text" id="check_password"><br>
    <input type="button" value="check" onclick="check_password()">
    <br>
    <label for="">result</label>
    <input type="text" readonly id="res">
    <script>
        function check_password(){
            var result
            var password=document.getElementById("check_password").value
            if (password.match(/[a-z]/g) && password.match(/[A-Z]/g) && password.match(/[0-9]/g) && password.length>=8)
            {
                result='strong'
            }
            else if(
                password.match(/[a-z]/g) && password.match(/[A-Z]/g)
            ){
                result='weak'
            }
            else{
                result='invalid'
            }
            document.getElementById('res').value=result
        }
    </script>
</body>
</html>