<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        

 function add(a, b) {
    sum = a+b;
  return sum;
}

// Example usage
var x = Number(prompt("enter num 1"));
var y = Number(prompt("enter num 2"));

var sum1 = add(x,y)

console.log("The sum of " + x + " and " + y + " is " + sum1);



    </script>
</body>
</html>