{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my_website</title>
    <link rel="stylesheet" href="{% static 'website.css' %}">
</head>

<body>
    <nav>
        <div class="logo">
            <p>
                fia
            </p>
        </div>
        <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">contact</a></li>
        </ul>
    </nav>
    <div class="i">
<!-- <img src="{% static 'images/1.jpg' %}" alt=""> -->
    </div>
    <div class="slide container">
       
        <div class="image container">
            <img src="https://media.istockphoto.com/id/517237166/photo/fashion-portrait-of-young-beautiful-woman-with-jewelry.jpg?s=612x612&w=0&k=20&c=Cnjyv3IRNn3rG1KIevkqaOBfa2uAwRi560l8q50YLlA="
                class="slider image">
            <img src="https://media.istockphoto.com/id/501123018/photo/portrait-of-a-nice-looking-woman-with-beautiful-earings.jpg?s=612x612&w=0&k=20&c=Z7OvbFw_PhZlOYHeiT3sYcb9kUMtKPNM2xxwg83-0uM="
                class="slider image">
            
        
    </div>
    <br><br><br><br>


    <h1 id="o">
        latest collections
    </h1>
    <div class="a">
       <div class="im">
        <img src="https://images.pexels.com/photos/2735970/pexels-photo-2735970.jpeg?cs=srgb&dl=pexels-say-straight-2735970.jpg&fm=jpg" class="img">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEcVTxt-twbRnAgWzvyQdcfEt0XQu7U7-DZ5Gg8qSDsd1XSS3j_Tx24h_wJsxikzb8qvM&usqp=CAU" class="img">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT774Q9IXp79918544iyYlqp8NFbs_5mXMe-w&usqp=CAU" class="img">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlL_b5SsWtvGGBbLvANHCRyP2Gzt340gYK5A&usqp=CAU" class="img">
       </div>
    </div>

<div id="n">
<br>
    @FIA
    <br>
    email:fia@gmail.com
</div>

</body>

</html>